#root {
  text-align: center;
  margin: auto;
}

.Table{
  margin-top: 30px;
}

.Table tr{
  border: 1px solid rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.Table th{
  background-color: rgb(59, 141, 160);
  color: white;
  border: 1px solid rgb(0, 0, 0);
}

.Table td{
  background-color: rgb(216, 216, 216);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}

.Table tr:hover td{
  background-color: #979797;
  color: black;
}

.editar{
  border: none;
  background-color: transparent;
  
}

