#root {
  text-align: center;
  margin: auto;
}

.Table{
  margin-top: 30px;
}

.Table tr{
  border: 1px solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Table th{
  background-color: rgb(144, 197, 212);
}

.Table td{
  background-color: rgb(16, 0, 53);
  color: white;
}

.Table tr:hover td{
  background-color: #c1bbc9;
  color: black;
  font-weight: bold;
}